In [ ]:
L=[10,20,30,40,50,60,70,80]
L.extend([200,300])
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
L=[10,20,30,40,50,60,70,80]
L.remove(10)
print(L)
L.remove(30)
print(L)
L.sort()
print("Ascending order: ",L)
L.reverse()
print("Descending order: ",L)

[20, 30, 40, 50, 60, 70, 80]
[20, 40, 50, 60, 70, 80]
Ascending order:  [20, 40, 50, 60, 70, 80]
Descending order:  [80, 70, 60, 50, 40, 20]

In [ ]:
scores=(45,89.5,76,45.4,89,92,58,45)
highest_score=max(scores)
idx=scores.index(highest_score)
print("Highest score is ",highest_score)
print("Its index is ",idx)
lowest_score=min(scores)
print("Lowest score is ",lowest_score)
a=scores.count(lowest_score)
print("It appears",a,"times.")
reverse=scores[::-1]
print("The reversed tuple of marks: ",reverse)
b=list(reverse)
print("The reversed list: ",b)
c=scores.index(76)
if (76 in scores):
  print("Element present in list at",c,"index.")
else:
  print("Element not present in list.")

Highest score is  92
Its index is  5
Lowest score is  45
It appears 2 times.
The reversed tuple of marks:  (45, 58, 92, 89, 45.4, 76, 89.5, 45)
The reversed list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Element present in list at 2 index.

In [13]:
import random
list=[]
count=0
for i in range(1,101):
  a=random.randint(100,900)
  list.append(a)

print("Final list:",list)
print("Odd numbers: ")
for j in range(0,len(list)):
    if(list[j]%2==1):
      print(list[j])
      count=count+1
print("Number of odd numbers: ", count)

count1=0
print("Even numbers: ")
for k in range(0,len(list)):
    if(list[k]%2==0):
      print(list[k])
      count1=count1+1
print("Number of even numbers: ", count1)

count2=0
print("Prime numbers: ")
for l in range(0,len(list)):
  for m in range(2,list[l]):
    if(list[l]%m==0):
      break
  else:
    print(list[l])

Final list: [759, 893, 231, 361, 164, 380, 346, 203, 132, 829, 331, 112, 315, 142, 259, 114, 194, 190, 527, 298, 494, 579, 707, 170, 321, 311, 234, 154, 655, 467, 656, 763, 486, 224, 127, 246, 587, 517, 313, 581, 123, 122, 860, 285, 369, 841, 545, 188, 288, 436, 781, 391, 731, 524, 539, 115, 516, 797, 787, 629, 709, 121, 469, 693, 665, 472, 713, 514, 817, 119, 866, 848, 531, 854, 466, 423, 622, 684, 666, 287, 243, 108, 109, 203, 376, 353, 368, 715, 582, 669, 840, 292, 465, 430, 117, 499, 720, 458, 833, 538]
Odd numbers:
759
893
231
361
203
829
331
315
259
527
579
707
321
311
655
467
763
127
587
517
313
581
123
285
369
841
545
781
391
731
539
115
797
787
629
709
121
469
693
665
713
817
119
531
423
287
243
109
203
353
715
669
465
117
499
833
Number of odd numbers:  56
Even numbers:
164
380
346
132
112
142
114
194
190
298
494
170
234
154
656
486
224
246
122
860
188
288
436
524
516
472
514
866
848
854
466
622
684
666
108
376
368
582
840
292
430
720
458
538
Number of even numbers:  44
Prime numbers:
829
331
311
467
127
587
313
797
787
709
109
353
499

In [8]:
import random
li
count=0
for a in range(0,101):
  a=random.randint(100,900)
  print(a)

print("Odd numbers")
if(a%2==1):
  print(a)
  count=count+1
print("Number of odd numbers: ", count)

365
732
881
545
699
669
111
581
890
724
374
445
807
833
613
775
173
372
663
674
469
464
262
883
618
837
131
620
581
240
827
455
615
147
647
131
628
263
491
481
683
688
888
737
642
532
409
642
554
508
396
597
258
105
831
621
510
108
577
505
678
262
273
503
104
451
327
511
483
191
624
355
657
733
708
287
298
272
141
900
105
840
813
132
105
116
128
195
721
696
333
887
394
487
487
871
622
375
353
890
676
Odd numbers
Number of odd numbers:  0

In [3]:
A={34,56,78,90}
B={78,45,90,23}
x=A.union(B)
print("The union of sets: ",x)
y=A.intersection(B)
print("The intersection of sets: ",y)
z=A.symmetric_difference(B)
print("Symmetric difference: ",z)
w=A.issubset(B)
print(w)
u=B.issuperset(A)
print(u)
a=int(input("Enter the element to be removed: "))
if(a in A):
  v=A.remove(a)
  print(A)
else:
  print("Element not present.")

The union of sets:  {34, 45, 78, 23, 56, 90}
The intersection of sets:  {90, 78}
Symmetric difference:  {34, 45, 23, 56}
False
False
Enter the element to be removed: 1
Element not present.

In [ ]:
sample_dict={
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New york"

}
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}