In [1]:
print("Anything You Find Cool.")

Anything You Find Cool.

In [5]:
a=4
b=5
c=a+b
print(a, "+", b, "gives: ",c)

4 + 5 gives:  9

In [8]:
a="Good"
b="Morning"
c=a+" "+b
print(c)

Good Morning

In [10]:
a="Hello"
b=6
c=a+" "+str(b)
print(c)

Hello 6

In [17]:
a=-98
if(a>0):
  print("It is a positive number.")
elif(a==0):
  print("It is zero.")
else:
  print("It is a negative number.")

It is a negative number.

In [19]:
a=50
if(a%2==0):
  print("It is an even number.")
else:
  print("It is an odd number.")

It is an even number.

In [21]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
i=1
while i<11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [28]:
a=1
sum=0
for i in range(1,101):
 sum=sum+i
print(sum)

5050

In [30]:
list=[3,56,24,67,400]
smallest=min(list)
largest=max(list)
print("The smallest number is ",smallest)
print("The largest number is ",largest)

The smallest number is  3
The largest number is  400

In [32]:
D={1:"One", 2:"Two", 3:"Three"}
D[2]

'Two'

In [35]:
list=[39,45,400,20,15,0,33,2]
list.sort()
print("Ascending order: ",list)
list.reverse()
print("Descending order: ",list)

Ascending order:  [0, 2, 15, 20, 33, 39, 45, 400]
Descending order:  [400, 45, 39, 33, 20, 15, 2, 0]

In [36]:
D1={1:"One",2:"Two",3:"Three"}
D2={4:"Four",5:"Five",6:"Six"}
D1.update(D2)
print(D1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}

In [ ]:
a="Orange"

In [38]:
a="Apple"
reverse=a[::-1]
print(reverse)

elppA

In [41]:
a="radar"
reverse=a[::-1]
if(reverse==a):
  print("It is a palindrome.")
else:
  print("It is not a palindrome.")

It is a palindrome.

In [47]:
f=open("newfile.txt","w")
f.write("It is a good day.")
f.close()
f=open("newfile.txt","r")
print(f.read())

It is a good day.

In [48]:
f=open("newfile.txt","a")
f.write("Today is thursday.")
f.close()
f=open("newfile.txt","r")
print(f.read())

It is a good day.Today is thursday.

In [51]:
f=open("newfile.txt","r")
x=len(f.readlines())
print("The number of lines: ",x)

The number of lines:  1

In [58]:
a=15
b=0
try:
  c=a/b
  print(c)
except ZeroDivisionError:
  print("Can't divide by 0")

Can't divide by 0

In [62]:
try:
 a=int(input("Enter a number: "))
except ValueError:
  print("Invalid input.Please enter a number.")

Enter a number: ert
Invalid input. Please enter a number.

In [64]:
try:
  a=5/1
  print(a)
except ZeroDivisionError:
    print("Can't divide by 0")
finally:
      print("This is always executed regardless of exception.")

5.0
This is always executed regardless of exception.

In [1]:
import random
a=random.randint(1,100)
print(a)

19

In [10]:
import random
a=random.randint(1,100)
print(a)
for i in range(2,(a//2)+1):
   if(a%i)==0:
    print("Composite")
   else:
    print("Prime")
    break

33
Prime

In [12]:
import random
a=random.randint(1,6)
print(a)

1

In [11]:
import random
a=[1,2,3,4,5]
random.shuffle(a)
print(a)

[3, 4, 1, 2, 5]

In [18]:
import random
a=[1,2,3,4,5,6]
print(random.choice(a))

5

In [49]:
import random
import string
def generatepassword(length):
    character= string.ascii_letters + string.digits
    password = ''.join(random.choice(character) for _ in range(length))
    return password
passwordlength = int(input("Enter the password length: "))
password = generatepassword(passwordlength)
print("The generated password:",password)

Enter the password length: 6
The generated password: gGgEGx

In [38]:
import random
cards=["Diamonds","Spades","Hearts","Clubs"]
numbers=[2,3,4,5,6,7,8,9,10,"Jack","Queen","King","Ace"]
card=random.choices(cards)
number=random.choices(numbers)
print(f"The {number} of {card}")

The ['King'] of ['Clubs']

In [30]:
import sys
sys.argv=["3", "4", "5"]
x= (sys.argv[1])
y= (sys.argv[2])
sum=x+y
print("Sum is ",sum)

Sum is  45

In [32]:
import sys
str=sys.argv[1]
print("The length of string: ",len(str))

The length of string:  1

In [39]:
import math
a=25
b=math.sqrt(a)
print(b)

5.0

In [40]:
import datetime
current_time= datetime.datetime.now()
print(current_time)

2025-01-16 09:31:34.271279

In [42]:
import os
os.listdir()

['.config', 'sample_data']

['.config', 'sample_data']